[submodule "ucx"]
	path = ucx
	url = https://github.com/openucx/ucx.git
[submodule "vllm"]
	path = vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "uccl"]
	path = uccl
	url = https://github.com/uccl-project/uccl.git
